<!DOCTYPE html>
<html lang="en">
<%- include('./misc/head.ejs', { title: 'Home - Cap&Sock' }); %>

<body class="min-vh-100 text-white">
    <%- include('./misc/header.ejs', { nav: true, categories, id_category: params.id_category }); %>

    <main>
        <div class="container">
            <div id="contenedorProductos" class="row">

                <% for (let i = 0; i < products.length; i++) { %>
                    <%- include('./misc/product/item.ejs', { product: products[i] }) %>
                <% } %>

            </div>

            <%- include('./misc/product/pager.ejs', { page: params.page, total_pages: params.total_pages, id_category: params.id_category }) %>
        </div>
    </main>

    <%- include('./misc/scripts.ejs', { js: ['tema.js', 'store.js'] }); %>
</body>
</html>