<!DOCTYPE html>
<html lang="en">
<%- include('./misc/head.ejs', { title: 'Home - Cap&Sock' }); %>

<body class="min-vh-100 text-white">
    <%- include('./misc/header.ejs', { nav: true, categories, id_category: params.id_category }); %>

    <main class="container">
        <div class="row">

            <% for (let i = 0; i < products.length; i++) { %>
                <%- include('./misc/home/item.ejs', { product: products[i] }) %>
            <% } %>

        </div>

        <%- include('./misc/home/pager.ejs', { page: params.page, total_pages: params.total_pages, id_category: params.id_category }) %>
    </main>

    <%- include('./misc/footer.ejs'); %>
    <%- include('./misc/scripts.ejs', { js: ['tema.js', 'store.js'] }); %>
</body>
</html>