<% if(typeof product != 'undefined'){ %>

    <div class="product-card col-6 col-md-4 col-lg-3 pb-3 d-flex" data-id="<%- product.id %>" data-price="<%- product.price %>">
        <div class="d-flex flex-column p-3 bg-success bg-gradient rounded-4 transition-all hover-scale hover-shadow w-100">
            <div class="pb-3 h-20 flex-shrink-0">
                <img class="rounded-4 w-100" src="<%- product.image_url %>" alt="<%- product.title %>">
            </div>
            <h3 class="fs-5"><%- product.title %></h3>
            <div class="d-flex gap-1 flex-shrink-0">
                <p class="text-success fs-6 px-2 rounded-1 bg-success-subtle d-inline-block"><%- product.category.name %></p>
                <!-- <p class="text-success fs-6 px-2 rounded-1 bg-success-subtle d-inline-block"> attr </p> -->
            </div>
            <div class="mt-auto">
                <h3 class="fs-4">$<%- product.price %></h3>

                <!-- Delete from cart -->
                <div class="row delete-container gap-1 d-flex d-none">
                    <div class="col-auto">
                        <button class="btn btn-dark btn-delete">
                            <i class="bi bi-dash"></i>
                        </button>
                    </div>

                    <div class="col d-flex justify-content-center align-items-center p-0">
                        <span class="mx-10 quantity"></span>
                    </div>

                    <div class="col-auto">
                        <button class="btn btn-dark btn-add">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>
                
                <!-- Add to cart -->
                <div class="add-container d-grid d-none">
                    <button class="btn btn-light btn-sm d-flex align-items-center justify-content-center gap-1 p-2 btn-add">
                        <i class="bi bi-cart mr-2"></i><span>Agregar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

<% }; %> 
